body{
     margin:0;
  }
    header{
     background-color: #FFF;
     padding:15px;
     font-size:3vh;
     font-weight:bold;
     text-align:center;
     position:sticky;
     top:0;
     z-index: 99;
  }
.img{
     width:100%;
     height:50vh;
     background-size: cover;
     background-position: center;
     position: relative;
  }
.title{
     position: absolute;
     bottom:0;
     padding: 15px;
     background-color: rgba(0, 0,0,0.5);
     color:white;
     
  }
.source{
     position: absolute;
     padding: 15px;
     background-color: rgba(0, 0,0,0.5);
     color:white;
  }
.description{
     padding: 15px;
     color: #000;
     margin: 0;
     background-color: white;
     margin-bottom: 15px;
     border-bottom:7px solid black;
   }
header sub{
     font-size:10px;
   }
